<div class="pilot-auth-intro" data-cinematic-intro data-intro-autoplay="true" aria-hidden="true">
  <canvas class="pilot-intro" data-intro-canvas></canvas>
  <div class="pilot-intro-copy" data-intro-copy>
    <div>
      <div class="pilot-intro-eyebrow">Cloud publishing infrastructure</div>
      <div class="pilot-intro-name">YouTube<span>Pilot</span></div>
      <div class="pilot-intro-line">Automate with precision</div>
    </div>
  </div>
</div>
